<p>styles-table works!</p>
<div class="container mt-4">
  <div class="row">
    <h3>Listado de Estudiantes</h3><button class="btn btn-primary mt-auto" (click)="this.toggle()"> Toogle</button>
  </div>
  <br>
  <table class="table" *ngIf="this.listEstudiantes.length > 0">
    <thead>
      <th>Nro</th>
      <th>Nombre</th>
      <th>Estado</th>
      <th>Estado</th>
      <th>Estado</th>
      <th>Estado</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of this.listEstudiantes; index as i">
        <td>{{i+1}}</td>
        <td>{{item.Name}}</td>
        <td [ngStyle]="{'font-style': 'italic'}">{{item.Status}}</td>
        <td style="font-style: item">{{item.Status}}</td>
        <td [ngStyle]="{'font-style': item.Status == 'Promocionado' ? 'Italic' : 'Normal'}">{{item.Status}}</td>
        <td>
          <span
            [ngClass]="item.Status === 'Promocionado' ? 'badge text-bg-success' : 'badge text-bg-secondary' ">{{item.Status}}</span>
        </td>
        <td>
          <span class="badge text-bg-{{this.validateStatus(item)}}">{{item.Status}}</span>
        </td>
      </tr>
    </tbody>
  </table>
  <h3 *ngIf="this.listEstudiantes.length == 0">No hay registros de estudiantes</h3>
</div>